<link rel="stylesheet" href="personality_test.css">
<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
<head>
  <style >
    body {
      background: url(/homepage/images/daytime-background.png);
      background-size: cover;
      background-position: center;
      /* background-repeat: no-repeat; */
    }
  </style>
</head>


<% if flash[:notice] %>
  <div class="alert alert-success" role = "alert">
    <%=flash[:notice]%>
  </div>
<% end %>

<div class="titleCenter">
<h2>Answer these questions</h2>
</div>

<div class="title2center">
  <h2>to reveal your first plant!</h2>
</div>

<div class="questionsCenter">
<%= form_tag "/personality_quiz", method: "post" do %>

  <div class="question form-group">
    <%= label_tag "Question 1: Scones or Muffins?" %><br>
    <%= radio_button_tag(:"answers[q1]", "scones", value:"M") %>
    <%= label_tag(:q1_m, "scones") %>
    <%= radio_button_tag(:"answers[q1]", "muffins") %>
    <%= label_tag(:q1_f, "muffins") %><br>
  </div><br>

  <div class="question form-group">
    <%= label_tag "Question 2: Kanye West or Drake?" %><br>
    <%= radio_button_tag(:"answers[q2]", "kanye west") %>
    <%= label_tag(:q2_m, "kanye west") %>
    <%= radio_button_tag(:"answers[q2]", "drake") %>
    <%= label_tag(:q2_f, "drake") %><br>
  </div><br>

  <div class="question form-group">
    <%= label_tag "Question 3: Whiskey or Vodka?" %><br>
    <%= radio_button_tag(:"answers[q3]", "whiskey") %>
    <%= label_tag(:q3_m, "whiskey") %>
    <%= radio_button_tag(:"answers[q3]", "vodka") %>
    <%= label_tag(:q3_f, "vodka") %><br>
  </div><br>

  <div class="question form-group">
    <%= label_tag "Question 4: Bushwick or Williamsburg?" %><br>
    <%= radio_button_tag(:"answers[q4]", "bushwick") %>
    <%= label_tag(:q4_m, "bushwick") %>
    <%= radio_button_tag(:"answers[q4]", "williamsburg") %>
    <%= label_tag(:q4_f, "williamsburg") %><br>
  </div><br>

  <div class="question form-group">
    <%= label_tag "Question 5: Pugs or Poodles?" %><br>
    <%= radio_button_tag(:"answers[q5]", "pugs") %>
    <%= label_tag(:q5_m, "pugs") %>
    <%= radio_button_tag(:"answers[q5]", "poodles") %>
    <%= label_tag(:q5_f, "poodles") %><br>
  </div><br>

  <div class="question form-group">
    <%= label_tag "Question 6: Soup or Salad?" %><br>
    <%= radio_button_tag(:"answers[q6]", "soup") %>
    <%= label_tag(:q6_m, "soup") %>
    <%= radio_button_tag(:"answers[q6]", "salad") %>
    <%= label_tag(:q6_f, "salad") %><br>
  </div><br>

  <div class="question form-group">
    <%= label_tag "Question 7: Team Jacob or Team Edward?" %><br>
    <%= radio_button_tag(:"answers[q7]", "team jacob") %>
    <%= label_tag(:q7_m, "team jacob") %>
    <%= radio_button_tag(:"answers[q7]", "team edward") %>
    <%= label_tag(:q7_f, "team edward") %><br>
  </div><br>

  <div class="question form-group">
    <%= label_tag "Question 8: Chinese Food or Thai Food?" %><br>
    <%= radio_button_tag(:"answers[q8]", "chinese food") %>
    <%= label_tag(:q8_m, "chinese food") %>
    <%= radio_button_tag(:"answers[q8]", "thai food") %>
    <%= label_tag(:q8_f, "thai food") %><br>
  </div><br>

  <div class="question form-group">
    <%= label_tag "Question 9: Shampoo or Conditioner?" %><br>
    <%= radio_button_tag(:"answers[q9]", "shampoo") %>
    <%= label_tag(:q9_m, "shampoo") %>
    <%= radio_button_tag(:"answers[q9]", "conditioner") %>
    <%= label_tag(:q9_f, "conditioner") %><br>
  </div><br>

  <div class="question form-group">
    <%= label_tag "What would you like to name your plant?" %><br>
    <%= text_field_tag :plant_name %>
  </div><br>

  <%= submit_tag "Submit Answers" %>

<% end %>
  </div>
