<head>
  <style >
    body {
      background: url(/homepage/images/daytime-background.png);
      background-size: cover;
      background-position: center;
      /* background-repeat: no-repeat; */
    }
  </style>
</head>

<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
<% if flash[:warning] %>
  <div class="alert alert-warning" role = "alert">
    <%=flash[:warning]%>
  </div>
<% end %>
<h1>Grow Your Plant</h1>
<div class="instruction_bar">

  <p>Instructions: </p>
  <p> a) Use Actions to Fill Up Plant Stats to Grow Your Plant!</p>
  <p> b) Use Get $$$$ Button to Earn Money for Soil, Water, and More Plants</p>
</div>
<div class="actionsPlace">
<div class="action_bar col-sm-3">
  <h2>ACTIONS</h2>
  <% current_user.actions.each do |action| %>



  <%= button_to action.name, "/plants/#{@plant.id}/actions/#{action.id}"%><br>


  <% end %>

</div>
</div>

<div class="plantPlace">
<div class="plant_display">
  <h1><%= @plant.name %></h1>
  <img src= "<%= @plant.img_url %>">
</div>

<div class="plant_stats">
  <h2>Plant Stats</h2>
  <div class="hearts">
    <!-- Create a variable # of filled hearts -->
    <% @filled_hp.to_i.times do |x| %>
      <img src="/app/assets/images/Plant_Gifs/HP/HP Heart - Full OUTLINE.gif">
    <% end %>
    <!-- Create a variable # of empty hearts -->
    <% @empty_hp.to_i.times do |x| %>
      <img src="/app/assets/images/Plant_Gifs/HP/HP Heart - Empty.gif" >
      <!-- <img src="/app/assets/images/Plant_Gifs/HP/HP Heart - Full.gif"> -->
    <% end %>
  </div>
  <br>

  <div class="waters">


        <% @filled_water_points.to_i.times do |x| %>
          <img src="/app/assets/images/Water/Water Drop - Full.gif">
        <% end %>
        <% @empty_water_points.to_i.times do |x| %>
          <img src="/app/assets/images/Water/Water Drop - Empty.gif">
        <% end %>

  </div>
  <br>

  <div class="soil">
    <% @filled_soil_points.to_i.times do |x| %>
      <img src="/app/assets/images/Soil/Soil - Full.gif">
    <% end %>
    <% @empty_soil_points.to_i.times do |x| %>
      <img src="/app/assets/images/Soil/Soil - Empty.gif">
    <% end %>
  </div>
  <br>

  <% if @ailment != nil %>
    <h2> Ailment: </h2>
    <div class="ailment">
      <%= @ailment.ailment_type %>
    </div>

  <% end %>

  <br>
  <%= button_to "Edit Plant's Name", edit_plant_path(@plant), method: :get %>


</div>
</div>
