<link rel="stylesheet" href="personality_test.css">
<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">


<% if flash[:notice] %>
  <div class="alert alert-success" role = "alert">
    <%=flash[:notice]%>
  </div>
<% end %>


<div class="titleCenter">
<h3>Correct Answers: +$5 AND +<img src="/app/assets/images/Plant_Gifs/HP/HP Heart - Full OUTLINE.gif"></h3>
</div>

<div class="gutsCenter">
  <h3>Incorrect Answers: -$3 AND -<img src="/app/assets/images/Plant_Gifs/HP/HP Heart - Full OUTLINE.gif"></h3>
</div>
<div class="gutsCenter">
  <h3>Difficulty: <%= @question["difficulty"].capitalize %></h3>
</div>

<div class="gutsCenter">
<%= form_tag "/plants/#{@plant.id}/trivia", method: "post" do %>


  <div class="question form-group">

    <%= label_tag @question["question"] %><br>
    <!-- change logic to randomize order of answers later -->
    <% limit = 3 %>
    <% picked = false %>
    <% @question["incorrect_answers"].each do |incorrect_answer| %>

      <!-- randomly insert correct answer -->
      <% if rand(limit) == 0 && picked == false%>
        <%= radio_button_tag(:"answers", "c#{@question["correct_answer"]}", value: "#{@question["correct_answer"]}") %>
        <%= label_tag(:q1_m, @question["correct_answer"]) %>
        <% picked = true %>
      <% end %>

      <%= radio_button_tag(:"answers", "i#{incorrect_answer}", value: "#{incorrect_answer}") %>
      <%= label_tag(:q1_m, "#{incorrect_answer}") %>

      <!-- reduce range by 1 for guessing 0 -->
      <% limit -= 1 %>
    <% end %>

  </div><br>



  <%= submit_tag "Submit Answers" %>

<% end %>
  </div>
