<!DOCTYPE html>
<html>
  <head>
    <title>Neoplants</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
      a { color: #FFFFF0; } /* CSS link color */
    </style>

  </head>

  <body>
    <div class="linkPlace">
    <% if logged_in? %>
       <!-- need to make this not appear on /plants -->
      <%= link_to "See All Plants", plants_path %><br>
      <!--  need to make this not appear on /plants/new-->
      <%= link_to "Add Plant to Your Collection", new_plant_path %>
    <% end %>
  </div>
    <%= yield %>
    <div class="logoutPlace">
    <% if logged_in? %>
      <%= button_to "Logout", logout_path, method: :delete %>
      <% else %>
    <% end %>
    </div>
    <!-- <%= link_to "Back to Homepage", root_path %> -->
  </body>
</html>
