<!DOCTYPE html>
<html>
  <head>
    <title>Neoplants</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <%= yield %>
    <div class="logoutPlace">
    <% if logged_in? %>
      <%= button_to "Logout", logout_path, method: :delete %>
      <% else %>
    <% end %>
    </div>
    <!-- <%= link_to "Back to Homepage", root_path %> -->
  </body>
</html>
